/* COLORS */

/*        Hlavna farba, vsetky ikony a ich zakladna farba   */
$main-color: #0fd7d7;
// $main-color: #0ce0af;

$second-color: #9212f8;

$text-color: #fff;
$title-color: #fff;

$purple-color: #7600e3;
