@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.home-header {
	.letter {
		display: inline-block;
		width: 37px;
	}
	.letter-anim {
		animation: backInDown;
		animation-duration: 1s;
	}
	.letter-bounce {
		// color: #005f95;
		animation: jello;
		animation-duration: 1s;
	}
}

:root {
	/*-------------------- COLORS ------------------------*/
	// --main-bg-color: #100317; // old color
	--main-bg-color: #140527;
	// --main-bg-color-darker: #0f041d;
	--main-bg-color-darker: #0e031b;
	--navbar-color: #0e031b;

	--highlight-color: #0af0f0;
	/*-------------------- //// ------------------------*/
}
